
<% include ./sidemenu %>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
errorArrayList = <%-JSON.stringify(errordata)%>;
function formatString(array) {

var header=['S.No','Email','Role','Remark'];


    var newData = [];
    newData.push(header);
window.arr = array;

	array.forEach(function(o, i){
		var r  = [];
		for (var k in o){
			r.push(o[k]);
		}
		newData.push(r);
	});
	return  newData.join("\n");
}
$(document).ready(function () {
	if(errorArrayList.length>0)
		{
			var csvContent = "data:text/csv;charset=utf-8,";
			csvContent=csvContent+formatString(errorArrayList)
			var encodedUri = encodeURI(csvContent);		
			var link = document.createElement("a");		
			link.setAttribute("href", encodedUri);
			link.setAttribute("download", "Error_Upload" + ".csv");		
			document.body.appendChild(link);		
			link.click();	
			document.body.removeChild(link);
			errorArrayList=null;	
		}

 // $('#tbluser').DataTable();
  $('table.display').DataTable();
    $('#tblactivuser').DataTable();
  $("#liusers").addClass('activetab');


	<% if(msg ==1) {%> 
	alert_modal("User created successfully",'success');
		
	<%} %>
	<% if(msg ==2) {%> 
	alert_modal("User already exist",'danger');
		
	<%} %>

});
	  function div_show() {
    document.getElementById('adg').style.display = "block";
    $("#merchantcode").val('');
    	$("#ddlRole").val(0);
  }
	//Function to Hide Popup
function div_hide() {
  document.getElementById('adg').style.display = "none";
}

	function Edituser(id)
	{
		var listname=id.split('&');
		$("#lblId").val(listname[0]);
		$("#merchantcode").val(listname[1]);
		$("#merchanttime").val(listname[2]);
		document.getElementById('addmerchant').style.display = "block";
	}

function Validateform()
{
	var x=$("#merchantcode").val();
	var y=$("#merchantcode1").val();
	if(y.trim()==''){
		alert_modal("User Name is required.",'danger');
		return false;
	}
 var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
if($("#ddlRole").val()=="")
{
	alert_modal("Role is required",'danger');
	return false;
}
   
else if(atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
{
	 alert_modal("Not a valid e-mail address",'danger');
	return false;
}
}

function DeleteMerchant(id){
	var msg=""
	if(confirm("Do you want to InActive this user.")){
		msg="User InActive successfully";
	}
	else{
		return false;
	}
	var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin  + '/admin/deleteUser';
		$.ajax({
			data:{"ID":id,'flag':0},
			url: url,
			method: 'POST',
			success: function(data) {
				console.log(data);
				if(data.length != 0){
					alert_modal(msg,,'warning');
					window.location.reload();
					//$("#formmerchant").submit();
				}
			},
			dataType: 'JSON',
		});

}
function DeleteMerchantPer(id)
{
var msg=""
	if(confirm("Do you want to delete this user.")){
		msg="User deleted successfully";
	}
	else{
		return false;
	}
	var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin  + '/admin/deleteUser';
		$.ajax({
			data:{"ID":id,'flag':1},
			url: url,
			method: 'POST',
			success: function(data) {
				console.log(data);
				if(data.length != 0){
					alert_modal(msg,'warning');
					window.location.reload();
					//$("#formmerchant").submit();
				}
			},
			dataType: 'JSON',
		});
}
function showinactivetbl()
{
	$('#tbluser').addClass('hide');
	$('#tblactuser').removeClass('hide');
}
function showmodal()
{
	$("#myModal").modal('show');
}

</script>

<style>
table {
	text-align:center;
}
</style>



<div class="content-here " style="margin-top: 23px">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Active Users</a></li>
    <li><a data-toggle="tab" href="#menu1">InActive Users</a></li>
   
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <input type="button" value="Add user" class="grayButtonPMS" style=" background-color: #F4F4F6;
    color: #7E7E7E;height: 37px;width: 88px;border: 1px solid #e7e7e7;border-radius: 3px;margin-top: 5px;margin-bottom: 10px;" onclick="div_show()" />
        <input type="button" value="Upload Users" class="grayButtonPMS" style="    background-color: #F4F4F6;
    color: #7E7E7E;
    height: 36px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    margin-top: 5px;
    margin-bottom: 10px;" onclick="showmodal()" />

	<table id="tbluser" class="table table-hover table-bordered display">
		<thead>
			<tr>
		  <th  style="width:30%;background-color:#F4F8F9">Name</th>	
		  <th  style="width:30%;background-color:#F4F8F9">Email</th> 
		  <th  style="width:20%;background-color:#F4F8F9">Role</th>
		  <th  style="width:20%;background-color:#F4F8F9">Action</th>
			</tr>
		</thead>
		<tbody>

		  <% if(usersList !=null) {%>
      <% for(var i=0;i<usersList.length;i++){ %>
      <tr calss="row">
          <td><%=usersList[i].name%></td>       
          <td><%=usersList[i].email_id%></td>  
            <td>
  <% if(usersList[i].role ==1) {%>Admin<%} else{%>User<%}%></td>
		  <td>
		  <span title="Delete" style="cursor: pointer;"  class="glyphicon glyphicon-trash" onclick="DeleteMerchant(<%=usersList[i].ID%>)" id="<%=usersList[i].ID%>"> Delete  &nbsp;</span>
            </td> 
      </tr>
      <%}%>
      <%}%>
		</tbody>
	</table> 

    </div>
    <div id="menu1" class="tab-pane fade">
      
      <table id="tbluser" class="table table-hover table-bordered display">
		<thead>
			<tr>
		  <th  style="width:30%;background-color:#F4F8F9">Name</th> 	
		  <th  style="width:30%;background-color:#F4F8F9">Email</th> 
		  <th  style="width:20%;background-color:#F4F8F9">Role</th>
		  <th  style="width:20%;background-color:#F4F8F9">Action</th>
			</tr>
		</thead>
		<tbody>

		  <% if(usersLi !=null) {%>
      <% for(var i=0;i<usersLi.length;i++){ %>
      <tr calss="row">
          <td><%=usersLi[i].name%></td>        
          <td><%=usersLi[i].email_id%></td>  
            <td>
  <% if(usersLi[i].role ==1) {%>Admin<%} else{%>User<%}%></td>
		  <td>
		  <span title="Edit" style="cursor: pointer;"  class="glyphicon glyphicon-trash" onclick="DeleteMerchantPer(<%=usersLi[i].ID%>)" id="<%=usersLi[i].ID%>"> Delete  &nbsp;</span>
            </td> 
      </tr>
      <%}%>
      <%}%>
		</tbody>
	</table> 
    </div>
   
  </div>

		


		
</div>

<div id="adg">
  <!-- Popup Div Starts Here -->
  <div id="popupContact">

    <!-- Contact Us Form -->
    <form  id="form2" method="post" action="/admin/adduser" onsubmit="return Validateform();" style="    max-width: 400px;
    min-width: 400px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #f4f4f6;
    padding: 15px;">
      <img id="close1" class="img-circle" src="/images/download.png" onclick="div_hide()" />

      <center> <h3 >Add User</h3></center>
      <hr style="    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #D8D2D2;
    margin-left: -14px;
    margin-right: -9px;"/>
    <label>Name</label>
     <input id="merchantcode1" maxlength="50" name="name"  placeholder="Enter Name" type="text" class="form-control" style="width:100%"  required/>
    <label> Email</label>
     <input id="merchantcode" maxlength="100" name="email"  placeholder="Enter Email ID" type="email" class="form-control" style="width:100%"  required/>
			
<label>role</label>
			<select class="form-control" name="role" id="ddlRole"  >
			<option value=""> Select Role </option>
			<option value="1">Admin</option>
			<option value="0">User</option>
			<option value="2">QC User</option>
			</select>

						</select>

			<center>
				
				<input type="submit" class="btn btn-success" value="Submit" style="width: 150px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #D0D1D3;
    color: #7e7e7e;
    border: 1px solid #e7e7e7;
    margin-top:10px !important;">
			</center>

    </form>
  </div>
  <!-- Popup Div Ends Here -->
</div> 

	<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#3BBDEB;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       <center> <h4 class="modal-title" style="color:white;">Upload Users</h4></center>
      </div>
      <div class="modal-body">
       <div class="row" id="divUploadAttribute" >

	<form  action="/admin/upload_Users" method="post" encType="multipart/form-data" onsubmit="return verifyfile('fileuploadfile')">
                        
                        <div class="col-lg-12">
                        <div class="col-lg-4" style="padding-right:0px;">
                        Upload Users Excel file :
                        </div>
                         <div class="col-lg-8">
                         <input type="file" id="attributefile" name="attributefile" class="fileuploadfile form-control" required>
                         </div>
                        </div>
                        <div class="col-lg-12">
                        <button type="submit" class="btn btn-success" style="    float: right;
    margin-top: 20px;
    margin-right: 16px;
    background-color: #3BBDEB;
    border: 1px solid lightgrey;">Submit</button>
                        </div>
						
						</form>


						   <div class="panel ">
					        
					        <div class="panel-body">
					        <hr style="    margin-left: 15px;
    margin-right: 20px;"/>
					        <h4 style="padding-left:20px;">Note for Uploading files</h4>
					            <ul>
					                <li style="list-style:square;">The maximum file size for uploads is <strong>5 Mb</strong></li>
					                <li style="list-style:square;">Only data files (<strong>.xls,.xlsx</strong>) are allowed </li>
					                
					            </ul>
					        </div>
					    </div>
	</div>
      </div>
      <div class="modal-footer" style="border-top: 0px solid #e5e5e5;">
      
      </div>
    </div>

  </div>
</div>

<% include ../footer %>

