<% include ./grid_header %>
    <script type="text/javascript">
    </script>
    <style type="text/css">
               .itemsContainer {
            background: red;
            float: left;
            position: relative
        }
        .itemsContainer:hover .play {
            display: block
        }
        .play {
            position: absolute;
            display: none;
            top: 20%;
            width: 40px;
            margin: 0 auto;
            left: 0px;
            right: 0px;
            z-index: 100
        }

        #slide_cont {
            box-shadow: 0px 0px 10px 0px silver;
            width: 495px;
            height: 236px;
            /*margin-top:100px;*/
            padding: 7px;
        }
        #slideshow_image {
            width: 478px;
            height: 221px;
        }
        #next_image {
                float: right;
    width: 40px;
    height: 40px;
    margin-top: -182px;
    z-index: 12;
    position: absolute;
    margin-left: 545px;
        }
        #prev_image {
            float: left;
            width: 40px;
            height: 40px;
            margin-top: -182px;
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        } 


[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}
    </style>
    <script src="http://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
    <div class="se-pre-con"></div>
    <div id="wait" style="display:block;width:69px;height:89px;border:0px solid black;position:absolute;top:60%;left:50%;padding:2px; z-index: 12;"><img src='/images/demo_wait.gif' width="64" height="64" /><br>Loading..</div>
    <div id="jaimaa">
        <div>
            
            <button id="export-csv">Export</button>

            <button id="search-replace">Search/Replace</button>
            <button id="spell-check" style="    margin-top: 15px;">spell check</button>
            
            <div id="divMainHeader">
                <% var categories =  Object.keys(sheetData); console.log("catagry name",categories.length,"",categories);%>

                    <ul id="grids" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#<%=categories[0].replace(/[^a-z0-9]/gi, '_')%>" aria-controls="#<%=categories[0].replace(/[^a-z0-9]/gi, '_')%>" role="tab" data-toggle="tab" id="0" onclick="notification(this.id);">
                                <%=categories[0]%>
                            </a>
                        </li>
                        <% for (var i = 1; i < categories.length; i++) { %>
                            <li role="presentation">
                                <a href="#<%=categories[i].replace(/[^a-z0-9]/gi, '_')%>" aria-controls="#<%=categories[i].replace(/[^a-z0-9]/gi, '_')%>" role="tab" data-toggle="tab" jsp="0" id='<%=i%>' onclick="notification(this.id);">
                                    <%=categories[i]%>
                                </a>
                            </li>
                            <% } %>
                    </ul>
                    <div class="tab-content">
                        <div id="filters" style="width:1270px;">
                            <% var headers = sheetHeaders; console.log("catagry header",sheetHeaders) %>
                                <table>
                                    <tr>
                                        <%  for (var p = 0; p < headers.length; p++) { %>
                                            <td><input id="<%=headers[p]%>" class="textStatus" type="search" style='width: 125px !important;' placeHolder="<%=headers[p]%>"></td>
                                            <% } %>
                                    </tr>
                                </table>
                        </div>
                        <div role="tabpanel " class="tab-pane active" id="<%=categories[0].replace(/[^a-z0-9]/gi, '_')%>"></div>
                        <% for (var i = 1; i < categories.length; i++) { %>
                            <div role="tabpanel" class="tab-pane" id="<%=categories[i].replace(/[^a-z0-9]/gi, '_')%>">

                            </div>
                            <% } %>
                    </div>
            </div>

            <div class="modal fade" id="search-replace-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 style="padding-left: 223px" class="modal-title">Search/Replace</h4>
                            <button style="float:right;margin-top: -33px " type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form id="search-replace-form" class="form-horizontal" role="form">
                                <input class="form-control" type="text" name="searched_term" placeHolder="Search" required/>
                                <input style="margin-top: 10px" class="form-control" type="text" name="replaced_term" placeHolder="Replace with" />
                                <select style="margin-top: 10px" name="column_name" class="form-control">
                                <option value="" selected>All Columns</option>
                                <% for (var i=0; i < sheetHeaders.length; i++) { %>
                                  <option value="<%=sheetHeaders[i]%>"><%=sheetHeaders[i]%></option> 
                                <% } %>
                                </select>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="modal fade" id="spell-check-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 style="padding-left: 223px" class="modal-title">Search/Replace</h4>
                            <button style="float:right;margin-top: -33px " type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" style=" padding: 29px;height: 223px;overflow: auto;">
                        
                            <form id="spell-check-form" class="form-horizontal" role="form">
                            <div  class="col-md-12" >
                                <div class="col-md-6" style="margin-top: -14px;"><label>Select Column</label></div>
                                <div class="col-md-6"><select style="margin-top: -20px" name="column_name" id='column_name' class="form-control" on >
                                
                                <% for (var i=0; i < sheetHeaders.length; i++) { 
                                    if(sheetHeaders[i]!='Category Id'){
                                    %>
                                  <option value="<%=sheetHeaders[i]%>"><%=sheetHeaders[i]%></option> 
                                <% }} %>
                                </select>
                                
                                </div>
                                <hr style="    margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 3px solid #2d1c1c;"></hr>
                                </div>
                                </form>
                               <!--  <input class="form-control" type="text" name="searched_term" placeHolder="Search" required/>
                                <input style="margin-top: 10px" class="form-control" type="text" name="replaced_term" placeHolder="Replace with" /> -->
                                
                           <div class="col-md-12" id='spell-chec-div'>
                            
                            </div>     
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <!--   <button type="submit" class="btn btn-primary">Submit</button> -->
                            
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <div class="modal fade" id="image-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" style="float:right;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Image</h4>
                        </div>
                        <div id="imagediv" class="modal-body">
                            <img id="modal-image" height="300px" width="570px">
                            <input type="image" id="prev_image"  class="sli1" src="/images/leftarrow.png">
                            <input type="image" id="next_image" class="sli1" src="/images/leftarrow.png">
                            <input type="hidden" id="img_no" value="0">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button style="display:none" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        <!--      <div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">
                    <button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>
                    <span data-notify="icon"></span>
                    <span data-notify="title">{1}</span>
                    <span data-notify="message">{2}</span>
                    <div class="progress" data-notify="progressbar">
                        <div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>
                    <a href="{3}" target="{4}" data-notify="url"></a>
                </div> -->
            <script>
                var count = 1;
                var tabs = [];
                var allimage = []
                var lengthoftab = '<%=categories.length%>';
                $(document).ready(function() {
                    tabs.push("0");
                    var flnm = '<%=flnam%>';
                    var uid = '<%=uid%>';
                    var imagepath = '<%=imagepath%>';
                    var categoryCodes = <%-JSON.stringify(categoryCodes)%>
                    var attributes = <%-JSON.stringify(attributes)%>
                     sheetData = <%-JSON.stringify(sheetData)%>;
                    var expression = <%-JSON.stringify(expression)%>;
                    var _sheetHeaders = <%-JSON.stringify(sheetHeaders)%>;
                    var nameToCode = <%-JSON.stringify(nameToCode)%>;
                    var merchantId = <%-JSON.stringify(merchantId)%>;
                    var sheetHeaders = _sheetHeaders.filter(function(x, i) {
                        return x.substring(x.length - 5, x.length) != 'Input';
                    });
                    var brands = <%-JSON.stringify(brands)%>;
                    // console.log(<%-JSON.stringify(validationData)%>)
                    var validationData = <%-JSON.stringify(validationData)%>;
                    var notNulls = <%-JSON.stringify(notNulls)%>
                    var attrsFromDb = <%-JSON.stringify(attributesFromDatabase)%>
                        // console.log(validationData, sheetHeaders, notNulls, expression, brands)
                     validators = getValidations(validationData, sheetHeaders, notNulls, expression, brands);
                    var firstCategory = Object.keys(sheetData)[0];
                    var excelHeaders = [];
                     currentInstances = {};
                    var alternateattr = Object.keys(attributes);
                     newsheetHeaders = [];
                    for (var i = 0; i < sheetHeaders.length; i++) {
                        for (var j = 0; j < sheetHeaders.length; j++) {
                            if (sheetHeaders[i] == alternateattr[j]) {
                                newsheetHeaders[i] = attributes[sheetHeaders[i].toString()]; //obj['jobtitel']
                                break;
                            } else {
                                newsheetHeaders[i] = sheetHeaders[i];
                            }
                        }
                    }
                    var newsheetHeaders1 = [];
                    for (var i = 0; i < newsheetHeaders.length; i++) {
                        if (i == 0) {
                            newsheetHeaders1[i] = 'qqqqqqq';
                        } else if (i == newsheetHeaders.length - 1) {
                            newsheetHeaders1[i] = newsheetHeaders[i]
                        } else {
                            newsheetHeaders1[i] = newsheetHeaders[i - 1];
                        }

                    }

                     tempHeaders = newsheetHeaders.map(function(x, i) {
                        return x + " (" + generateRandomAlphas(i) + ")";
                    });
                  //console.log("header",currentInstances,tempHeaders,validators[firstCategory]);
                    sheet(sheetData[firstCategory],
                        newsheetHeaders,
                        validators[firstCategory],
                        firstCategory,
                        tempHeaders,
                        currentInstances, imagepath);
      //console.log('dssssssssssss',currentInstances)
                    $("#grids a").click(function(e) {
                        $("#filters").scrollLeft(0);
                        if ($('#'.concat(e.target.id)).attr('jsp') == 0) {
                            $('.se-pre-con').show();
                            $('#'.concat(e.target.id)).attr('jsp', '1');
                        }
                        e.preventDefault();
                        var category = $(this).text();
                        // alert('che')
                      //console.log('currentInstances',currentInstances)
                        currentInstances[category] || (create(category, newsheetHeaders));
                        $(this).tab('show');

                        function create(category, newsheetHeaders) {

                            var data = sheetData[category];
                            var v = validators[category];
                            sheet(data,
                                newsheetHeaders,
                                v,
                                category,
                                tempHeaders,
                                currentInstances);
                        }
                    });
                    //Export csv
                    $('#export-csv').click(function() {
                        if (count == lengthoftab) {
                            exportCSV(currentInstances,
                                newsheetHeaders,
                                excelHeaders,
                                validationData,
                                notNulls,
                                attributes,
                                categoryCodes,
                                attrsFromDb, flnm, uid, expression, brands, nameToCode, merchantId, 1)
                        } else {
                            // alert('Please Open All Tabs');
                             $.notify({
                    // options
                    message: 'Please Open All Tabs'
                }, {
                    // settings
                    type: 'danger'
                });
                        }
                    });

                    $('.textStatus').on('keyup', function(e) {
                        e.preventDefault();
                        var code = e.which;
                        if (code == 32 || code == 13 || code == 188 || code == 186)
                            filters(newsheetHeaders, validators, sheet, currentInstances, tempHeaders);
                    });

                    $('#search-replace').click(function() {
                        $('#search-replace-modal').modal('toggle');
                        $('#search-replace-form').submit(function(e) {
                            e.preventDefault();
                            var data = $('#search-replace-form').serializeArray();
                            searchReplace(data, newsheetHeaders, sheet, currentInstances, validators, tempHeaders);
                        });
                    });
                    $('#spell-check').click(function() {
                        $('#spell-check-modal').modal('toggle');
                        $('#column_name').change(function(e) {
                            e.preventDefault();
                            // data, headers, sheet, hots, validators, tempHeaders,searchReplace
                            var data = $('#spell-check-form').serializeArray();
                            getspellcheck(data, newsheetHeaders, currentInstances)
                            // spellcheck(data, newsheetHeaders, sheet, currentInstances, validators, tempHeaders);
                        });
                      
                    });


                    function changesplelling(id){
                        $('#form'+id).submit(function(e) {
                            e.preventDefault();
                            var data = $('#form'+id).serializeArray();
                            searchReplace(data, newsheetHeaders, sheet, currentInstances, validators, tempHeaders);
                        });
                    }
                    var imageIndex = 0;
                    $("#prev_image").on("click", function() {
                        imageIndex = (imageIndex + allimage.length - 1) % (allimage.length);
                        $("#modal-image").attr('src', allimage[imageIndex]);
                    });
                    $("#next_image").on("click", function() {
                        imageIndex = (imageIndex + 1) % (allimage.length);
                        $("#modal-image").attr('src', allimage[imageIndex]);
                    });
                    //        $("#image").attr(images[0]);
                    //
                    $("#slideshow_image").on("click", function() {

                        $('#imagepreview').attr('src', $('#slideshow_image').attr('src')); // here asign the image to the modal when the user click the enlarge link
                        $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
                    });

                });

                $("div").scroll(function() {
                    $("div").scrollLeft($("#filters").scrollLeft());
                    //.ht_clone_left .wtHolder
                });
                function changesplelling(id){
  // alert('1aaa')
   var data = $('#form'+id).serializeArray();
 //console.log(currentInstances)
   searchReplace(data, newsheetHeaders, sheet, currentInstances, validators, tempHeaders);
    $('#form'+id).submit(function(e) {
        e.preventDefault();
       
       
    });
}

                function notification(id) {
                    var index = tabs.indexOf(id);
                    if (index == -1) {
                        tabs.push(id);
                        count++;
                    }
                }
            </script>
            <!--script src="http://handsontable.com/bower_components/handsontable/dist/handsontable.full.min.js"></script-->
            <script src="/javascripts/libraries/handsontable/bower_components/ruleJS/dist/full/ruleJS.all.full.min.js"></script>
            <script src="https://docs.handsontable.com/0.29.0/bower_components/handsontable/dist/handsontable.full.js"></script>
            <script src="/javascripts/libraries/handsontable/src/handsontable.formula.js"></script>
             <script src="/javascripts/Typo/typo/typo.js"></script>
            <script src="/javascripts/grid/search_replace.js"></script>
            <script src="/javascripts/grid/spell_check.js"></script>
            <script src="/javascripts/grid/filters.js"></script>
            <script src="/javascripts/grid/show_image.js"></script>
            <script src="/javascripts/grid/validations.js"></script>
            <script src="/javascripts/grid/export_csv.js"></script>
            <script src="/javascripts/grid/alphanumeric.js"></script>
            <script src="/javascripts/grid/initialize.js"></script>
            <script src="/javascripts/bootstrap-notify.js"></script>
            <!-- <script src="/javasripts/alasql.min.js"></script> -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
            <script type="text/javascript" charset="utf-8" src="/data_sheet/js/bootstrap.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
            
            <!--script src="https://docs.handsontable.com/0.28.4/bower_components/handsontable/dist/handsontable.full.js"></script-->
            <link type="text/css" rel="stylesheet" href="https://docs.handsontable.com/0.28.4/bower_components/handsontable/dist/handsontable.full.min.css">
            <footer>
            </footer>
            </body>